.react-loading {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

/*
Validation
*/

.default-input-validation {
  font-size: 13px;
  color: red;
}

[cansubmit='true'] .can-submit-icon {
  display: none;
}

[disabled] {
  cursor: default;
}
